body {
  margin: 0;
  font-family: sans-serif;
  background-color: #121212;
  color: white;
}

.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  background-color: #111;
  padding: 20px 0;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ccc;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
}

.tab.active {
  background-color: #333;
  color: #fff;
}

.tab:hover {
  background-color: #222;
  color: #fff;
}

.content {
  padding: 20px;
  flex: 1;
}

.icon {
  font-size: 1.2em;
}
